
* {
   margin: 0;
}

.custom-controls {
   display: flex;
   justify-content: center;
   margin: 40px 0 20px 0;
   flex-wrap: wrap;
   cursor: pointer;
}

.custom-controls li {
   opacity: .8;
   transform: scale(.8);
   width: 60px;
   height: 60px;
   border-radius: 50%;
   overflow: hidden;
   margin: 2px;
   box-shadow: 0 2px 2px #00000080;
   transition: .3s;
}

.custom-controls li.active {
   opacity: 1;
   transform: scale(1);
}

ul {
   padding: 0;
   margin: 0;
   list-style: none;
}

img {
   display: block;
   max-width: 100%;
}

.slide-wrapper {
   overflow: hidden;
   cursor: grab;
}

.slide-wrapper:active {
   cursor: grabbing;
}

.slide {
   display: flex;
}

.slide:hover {
   will-change: transform;
}

.slide li {
   flex-shrink: 0;
   width: 80vw;
   max-width: 800px;
   margin: 0 20px;
   border-radius: 4px;
   overflow: hidden;
   box-shadow: 0 2px 4px #00000066;
   opacity: .8;
   transform: scale(.8);
   transition: .4s;
}

.slide li.active {
   opacity: 1;
   transform: scale(1);
}

[data-control='slide'] {
   display: flex;
   justify-content: center;
   margin-top: 20px;
   cursor: pointer;
}

[data-control='slide'] li a {
   display: block;
   width: 14px;
   height: 14px;
   background-color: #FB5;
   border-radius: 50%;
   overflow: hidden;
   text-indent: -999px;
   margin: 5px;
}

[data-control='slide'] li a:hover,
[data-control='slide'] li.active a {
   background-color: #E54;
}

.arrow-nav {
   display: flex;
   justify-content: space-evenly;
   margin: 20px 0;
}

.arrow-nav button {
   cursor: pointer;
   border: none;
   border-radius: 50%;
   background: #FB5 url('../img/arrow.svg') center center no-repeat;
   color: white;
   width: 40px;
   height: 40px;
}

.arrow-nav button.prev {
   transform: rotate(-180deg);
}

